/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@500&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  
  .messages::-webkit-scrollbar {
      width: 15px;
      height: 15px;
    }
  
    .messages::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #431199;
    }
  
    .messages::-webkit-scrollbar-thumb {
      background: #661ae6;
      border-radius: 100vh;
      border: 1px solid #f6f7ed;
    }
  
    .messages::-webkit-scrollbar-thumb:hover {
      background: #2f2d52;
    }
  
}

@layer components {

  /* Card Container  */
  .card {
    @apply bg-[#17181f] h-[100vh] flex items-center justify-center
  }

  /* Container */
  .content-container {
    @apply border border-solid border-purple-600 w-[65%] h-[80%] flex overflow-hidden rounded-lg
  }

  /* SideBar  */
  .content-sidebar {
    @apply flex-1 bg-[#121212] relative
  }

/* Navbar.jsx -- */
   
  .main-navigation {
    @apply flex items-center bg-[#661ae6] p-1 justify-between text-[#ddddf7] 
  }

  .navbar-logo {
    @apply font-bold p-2 font-serif space-x-2 
    tracking-widest
  }

  .logout-btn {
    @apply bg-[#431199] text-white text-base font-medium font-mono border-none rounded-md cursor-pointer p-2
  }

  /* Search.jsx */

  .search {
    @apply border-b-[1px]
  }

  form.form {
    @apply flex justify-between items-center p-2 gap-2
  }
  .form input {
    @apply input bg-[#5717c8] h-8 max-w-md w-full
  }
  .form button {
    @apply bg-[#431199] hover:bg-blue-700 text-white font-medium py-1 px-4 rounded-full
  }

/* Chats.jsx */

.chats {
  @apply flex flex-col
}

.user-chat {
  @apply flex gap-3 items-center py-2 px-3 border-b-[1px] border-purple-600 hover:bg-[#2f2d52] cursor-pointer 
}

.user-chat img {
@apply w-10 rounded-full
}

.user-name {
  @apply text-base font-medium font-poppins text-white
}

/* Cht.jsx Header */

.chat-ui {
  @apply flex-[2] 
}

.chat-info {
  @apply flex items-center justify-center bg-[#661ae6]  text-white h-12
}

.chat-info span {
  @apply font-poppins font-bold
}


/* Chat.jsx Input Area */

.chat-input {
  @apply bg-[#661ae6] flex justify-between items-center px-2 py-2 gap-1 
 }

.chat-input input {
  @apply bg-[#431199] text-white w-full max-w-screen-lg outline-none rounded-full px-5 p-2
}
/* .send {
  @apply flex items-center gap-3 
} */
.chat-input button {
  @apply border-none py-2 px-3 text-white bg-[#431199] cursor-pointer rounded-full
}
 
 .form-container {
    @apply bg-[#161e31] h-[100vh] flex items-center justify-center
  }

  .form-input {
    @apply input input-bordered input-primary w-full max-w-lg
  }

  

  .user-heading {
    @apply h-12 bg-[#5d5b8d] flex items-center justify-between p-3 text-[#d3d3d3]
  }
  .messages { 
    @apply bg-[#b2b2d1] p-[10px] overflow-y-scroll h-[calc(100%-102px)] 
  }

  .message {
    @apply flex gap-[10px] mb-[20px]
  }
  
  .messages .message .messageInfo {
    @apply flex flex-col text-gray-600 font-light items-center
  }

  .messages  .message .messageInfo img {
    @apply w-10 h-10 rounded-full
  }

  .messages  .message .messageContent { 
    @apply max-w-[80%] flex gap-[10px] 
  }

  .messageContent .message.owner {
    @apply flex flex-row-reverse
  }
  
  .message.false {
    @apply flex items-center
  }

  .messages  .message.false .messageContent p {
    @apply bg-white p-2 max-w-max rounded-[10px] rounded-tl-none text-black shadow-md shadow-gray-500
  }

 .message.owner {
  @apply flex flex-row-reverse items-center
 }

 .message.owner .messageContent p {
  @apply bg-[#8da4f1] text-white rounded-[10px] rounded-tr-none p-2 shadow-md shadow-gray-500
 }

 .time-text {
  @apply text-xs font-mono
 }

 /* AnimatedLetters.jsx*/
 .animated-letters {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.animated-letters span{
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
}

 


}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
